    

root { 
    display: block;
}


.banner tr, .banner td {
    border: none;
}

.panelbox tr, panelbox td {
    vertical-align: top;
    margin-left: -10px;
    margin-right: -10px;
}

.blueUserIcon
{
    background:url("/media/User-blue-icon.png") no-repeat !important;
    width:20px;
    height:20px;
}

.redUserIcon
{
    background:url("/media/User-red-icon.png") no-repeat !important;
    width:20px;
    height:20px;
}

.yellowUserIcon
{
    background:url("/media/User-yellow-icon.png") no-repeat !important;
    width:20px;
    height:20px;
}

.greenUserIcon
{
    background:url("/media/User-green-icon.png") no-repeat !important;
    width:20px;
    height:20px;
}


.alignTop {
vertical-align: top;
}

.highlightTableRow {
    background: #fe1c1c;
    color: white;
}


.normalrow {
   background: lightsalmon;
}

.boldRow {
   background:gainsboro ;
}

.highlightTableRow {
    background: #fa3737;
    color: white;
}

.highlightTableRowYellow{
    background: gold;
}

.highlightTableRowGreen{
    background: #499F30;
     color: white;
}


.autocompleteStyle .ui-autocomplete-multiple-container {
  width: 800px;
}


.btnVehiculo {
    background-image: url("../resources/img/car.png") !important;
    width: 40px;
    height: 40px;
    background-position: 0px 0px;
    margin-top: -20px !important;
    
}
.btnClase {
    background-image: url("../resources/img/book.png")!important;
    width: 40px;
    height: 40px;
    background-position: 0px -5px;
    margin-top: -15px !important;
}
.btnAlumno {
    background-image: url("../resources/img/student.png") !important;
    width: 40px;
    height: 60px;
    background-position: 0px -5px; 
    margin-top: -15px !important;
    
}



/*gerente*/

.disable-scroll .ui-dialog-content {
  overflow: hidden !important;
}
.ui-widget-header {
    
    background: #03a4cc;
    color: #FFFFFF;
}
.ui-panel {
    padding: 0;
}

.ui-datatable-odd {
background: none repeat scroll 0 0 #F2F5F9;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #FFFFFF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    
    background: #0475EA;
    color: lightgray;
}